<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header id="header">
    <h1><a href="/main">Schedule maker</a></h1>
</header>

<p class="error404">Ошибка 404: Страница не найдена</p>

<footer>
    <span><a href="/main">© Schedule maker</a></span>
    <span><a href="./about_authors.html">Контакты</a></span>
    <span><a href="./about_site.html">О сайте</a></span>
</footer>

</body>
</html>

