<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/languageSwitcher.js" defer></script>
</head>
<body>
<header id="header">
    <h1><a href="/main" data-ru="Schedule maker" data-en="Schedule maker">Schedule maker</a></h1>
    <button class="tablinks --white" id="langToggle" onclick="toggleLanguage()" data-ru="En" data-en="Ru">En</button>
</header>

<p class="error404" data-ru="Ошибка 404: Страница не найдена" data-en="404 Error: Page Not Found">Ошибка 404: Страница не найдена</p>

<footer>
    <span><a href="/main" data-ru="© Schedule maker" data-en="© Schedule maker">© Schedule maker</a></span>
    <span><a href="/static-pages/about-authors" data-ru="Контакты" data-en="Contacts">Контакты</a></span>
    <span><a href="/static-pages/about-site" data-ru="О сайте" data-en="About the site">О сайте</a></span>
</footer>

</body>
</html>
