<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
    <script src="../static/js/languageSwitcher.js" defer></script>
</head>
<body>
<header id="header">
  <h1><a href="/main"  data-en="Schedule maker">Schedule maker</a></h1>
  <nav class="tabs">
    {% if user.is_verified %}
        <div class="tab">
            <a href="https://classify.by/tables/classroom"><button class="tablinks" data-ru="Аудитории" data-en="Classrooms">Аудитории</button></a>
            <a href="https://classify.by/tables/curriculum"><button class="tablinks" data-ru="Учебные планы" data-en="Curriculums">Учебные планы</button></a>
            <a href="https://classify.by/tables/group"><button class="tablinks" data-ru="Группы" data-en="Groups">Группы</button></a>
            <a href="https://classify.by/tables/subject"><button class="tablinks" data-ru="Предметы" data-en="Subjects">Предметы</button></a>
            <a href="https://classify.by/logout"><button class="tablinks" data-ru="Выйти" data-en="Logout">Выйти</button></a>
        </div>
    {% else %}
        <div class="tab">
          <button class="tablinks" id="Register_button" onclick="document.location='./register'" data-ru="Регистрация" data-en="Register">Регистрация</button>
          <button class="tablinks" id="Login_button" onclick="document.location='./login'" data-ru="Логин" data-en="Login">Логин</button>
        </div>
    {% endif %}
    <!-- Кнопка для переключения языка -->
    <button class="tablinks --white" id="langToggle" onclick="toggleLanguage()" data-ru="En" data-en="Ru">En</button>
  </nav>
</header>

{% block content %}
{% endblock %}

</body>
</html>
