<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="/main" data-ru="Schedule maker" data-en="Schedule maker">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <a href="https://classify.by/tables/classroom">
                <button class="tablinks" data-ru="Аудитории" data-en="Classrooms">Аудитории</button>
            </a>
            <a href="https://classify.by/tables/curriculum">
                <button class="tablinks" data-ru="Учебные планы" data-en="Curriculums">Учебные планы</button>
            </a>
            <a href="https://classify.by/tables/group">
                <button class="tablinks" data-ru="Группы" data-en="Groups">Группы</button>
            </a>
            <a href="https://classify.by/tables/subject">
                <button class="tablinks" data-ru="Предметы" data-en="Subjects">Предметы</button>
            </a>
            <a href="https://classify.by/logout">
                <button class="tablinks" data-ru="Выйти" data-en="Logout">Выйти</button>
            </a>
            <button class="tablinks --white" id="langToggle" onclick="toggleLanguage()" data-ru="En" data-en="Ru">En</button>
        </div>
    </nav>
</header>

<div class="table">
    <table>
        <tr>
            <th width="150px" data-ru="Аудитория" data-en="Classroom">Аудитория</th>
            <th width="250px" data-ru="Тип" data-en="Type">Тип</th>
            <th data-ru="Предмет" data-en="Subject">Предмет</th>
        </tr>
        {% for subject_classroom in subjects_classrooms %}
        <tr>
            <td>{{subject_classroom[1].name}}</td>
            <td>{{subject_classroom[1].type}}</td>
            <td>{{subject_classroom[0].subject_name}}</td>
            <td class="buttons">
                <a href="http://127.0.0.1:8000/tables/classroom-delete/{{subject_classroom[0].id}}/{{subject_classroom[1].id}}">
                    <button data-ru="Удалить" data-en="Delete">Удалить</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr class="add_new">
            <form method="post">
                <td><label><input name="name" placeholder="Аудитория" required></label></td>
                <td>
                    <label>
                        <select name="type">
                            <option data-ru="Лекция" data-en="Lecture">Лекция</option>
                            <option data-ru="Практика" data-en="Practice">Практика</option>
                            <option data-ru="Лабораторная" data-en="Lab">Лабораторная</option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <select name="subject">
                            {% for subject in subjects %}
                                <option>{{subject}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td class="buttons">
                    <button type="submit" data-ru="Добавить" data-en="Add">Добавить</button>
                </td>
            </form>
        </tr>
    </table>
</div>

<footer>
    <span><a href="/main" data-ru="© Schedule maker" data-en="© Schedule maker">© Schedule maker</a></span>
    <span><a href="/static-pages/about-authors" data-ru="Контакты" data-en="Contacts">Контакты</a></span>
    <span><a href="/static-pages/about-site" data-ru="О сайте" data-en="About the site">О сайте</a></span>
</footer>

<script src="../static/js/languageSwitcher.js" defer></script>
</body>
</html>
