<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="/main" data-ru="Schedule maker" data-en="Schedule maker">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <a href="https://classify.by/tables/classroom">
                <button class="tablinks" data-ru="Аудитории" data-en="Classrooms">Аудитории</button>
            </a>
            <a href="https://classify.by/tables/curriculum">
                <button class="tablinks" data-ru="Учебные планы" data-en="Curriculums">Учебные планы</button>
            </a>
            <a href="https://classify.by/tables/group">
                <button class="tablinks" data-ru="Группы" data-en="Groups">Группы</button>
            </a>
            <a href="https://classify.by/tables/subject">
                <button class="tablinks" data-ru="Предметы" data-en="Subjects">Предметы</button>
            </a>
            <a href="https://classify.by/logout">
                <button class="tablinks" data-ru="Выйти" data-en="Logout">Выйти</button>
            </a>
            <button class="tablinks --white" id="langToggle" onclick="toggleLanguage()" data-ru="En" data-en="Ru">En</button>
        </div>
    </nav>
</header>

<div class="curriculum_table">
    <table>
        <tr>
            <th data-ru="Учебный план" data-en="Curriculum">Учебный план</th>
            <th data-ru="Предмет" data-en="Subject">Предмет</th>
            <th data-ru="Кол-во лекций" data-en="Lectures">Кол-во лекций</th>
            <th data-ru="Кол-во практик" data-en="Practices">Кол-во практик</th>
            <th data-ru="Кол-во лабораторных" data-en="Labs">Кол-во лабораторных</th>
            <th data-ru="Поток" data-en="Stream">Поток</th>
        </tr>
        {% for subject_curriculum in subjects_curriculums %}
        <tr>
            <td>{{ subject_curriculum[1].name}}</td>
            <td>{{ subject_curriculum[0].subject_name}}</td>
            <td>{{ subject_curriculum[1].amount_lectures}}</td>
            <td>{{ subject_curriculum[1].amount_practices}}</td>
            <td>{{ subject_curriculum[1].amount_labs}}</td>
            <td>{{ subject_curriculum[1].stream}}</td>
            <td class="buttons">
                <a href="https://classify.by/tables/curriculum-delete/{{subject_curriculum[0].id}}/{{subject_curriculum[1].id}}">
                    <button data-ru="Удалить" data-en="Delete">Удалить</button>
                </a>
            </td>
        </tr>
        {% endfor %}

        <tr class="add_new">
            <form method="post">
                <td><label><input type="text" name="name" placeholder="Учебный план" required></label></td>
                <td>
                    <label>
                        <select name="subject_name">
                            {% for subject in subjects %}
                            <option>{{subject}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td><label><input type="text" name="lectures" placeholder="Лекции" required></label></td>
                <td><label><input type="text" name="practices" placeholder="Практики" required></label></td>
                <td><label><input type="text" name="labs" placeholder="Лабораторные" required></label></td>
                <td><label><input type="text" name="stream" placeholder="Поток" required></label></td>

                <td class="buttons"><input type="submit" value="Добавить" data-ru="Добавить" data-en="Add"></td>
            </form>
        </tr>
    </table>
</div>

<footer>
    <span><a href="/main" data-ru="© Schedule maker" data-en="© Schedule maker">© Schedule maker</a></span>
    <span><a href="/static-pages/about-authors" data-ru="Контакты" data-en="Contacts">Контакты</a></span>
    <span><a href="/static-pages/about-site" data-ru="О сайте" data-en="About the site">О сайте</a></span>
</footer>

<script src="../static/js/languageSwitcher.js" defer></script>
</body>
</html>
