<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="/main">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <button class="tablinks" id="Classes_button">Классы</button>
            <button class="tablinks" id="Lessons_button">Уроки</button>
            <button class="tablinks" id="Teachers_button">Учителя</button>
            <button class="tablinks" id="Subjects_button">Предметы</button>
        </div>
    </nav>
</header>

<div class="table">
    <table>
        <tr>
            <th>Группа</th>
            <th>Учебный план</th>
        </tr>
<!--        <tr>-->
<!--            <td>группа.имя</td>-->
<!--            <td>учебный_план.имя</td>-->
<!--            <td class="buttons"><button>Удалить</button></td>-->
<!--        </tr>-->

        <tr class="add_new">
            <form method="post">
                <td><label><input type="text" placeholder="Группа" required></label></td>
                <td>
                    <label>
                        <select>
                            {% for curriculum in curriculums %}
                            <option>{{curriculum.curriculum_name}}</option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
                <td class="buttons"><button type="submit">Добавить</button></td>
            </form>
        </tr>
    </table>
</div>


<footer>
    <span><a href="/main">© Schedule maker</a></span>
    <span><a href="./about_authors.html">Контакты</a></span>
    <span><a href="./about_site.html">О сайте</a></span>
</footer>
</body>
</html>