<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Schedule maker: Вход</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>

<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="/main" rel="dofollow">Schedule maker</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Вход в аккаунт</span>
                        <form id="stripe-login" method="post">
                            <div class="field padding-bottom--24">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" required>
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">Пароль</label>
                                    <div class="reset-pass">
                                        <a href="#">Забыли пароль?</a>
                                    </div>
                                </div>
                                <input type="password" name="password" id="password" required>
                            </div>
                            <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                                <label for="checkbox">
                                    <input type="checkbox" name="checkbox" id="checkbox"> Запомнить?
                                </label>
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Продолжить" onclick="">
                            </div>
                            <div class="field">
                                <a class="ssolink" href="{{ url }}">Войти с помощью Google</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
                    <span>Нет аккаунта? <a href="/register">Регистрация</a></span>
                    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                        <span><a href="/main">© Schedule maker</a></span>
                        <span><a href="./about_authors.html">Контакты</a></span>
                        <span><a href="./about_site.html">О программе</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>