{% extends 'base.html' %}

{% block content %}
  <div class="order">
    <label>
      <input type="checkbox">
      <span>Заполнить таблицу "Предметы"</span>
    </label>
    <label>
      <input type="checkbox">
      <span>Заполнить таблицу "Аудитории"</span>
    </label>
    <label>
      <input type="checkbox">
      <span>Заполнить таблицу "Учебные планы"</span>
    </label>
    <label>
      <input type="checkbox">
      <span>Заполнить таблицу "Группы"</span>
    </label>
    <img src="../static/images/order.png" alt="">
    <a href="http://127.0.0.1:8000/schedule/download"><input value="Сгенерировать"></a>
  </div>
  <footer>
    <span><a href="/main">© Schedule maker</a></span>
    <span><a href="/static-pages/about-authors">Контакты</a></span>
    <span><a href="/static-pages/about-site">О сайте</a></span>
  </footer>
{% endblock %}
