<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule maker</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="/main">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <button class="tablinks" id="Classes_button">Классы</button>
            <button class="tablinks" id="Lessons_button">Уроки</button>
            <button class="tablinks" id="Teachers_button">Учителя</button>
            <button class="tablinks" id="Subjects_button">Предметы</button>
        </div>
    </nav>
</header>

<div class="table">
    <table>
        <tr>
            <th>Предмет</th>
        </tr>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.subject_name }}</td>
                <td class="buttons">
                    <a href="http://127.0.0.1:8000/tables/subject-delete/{{subject.id}}"><button>Удалить</button></a>
                </td>
            </tr>
        {% endfor %}
        <tr class="add_new">
            <td colspan="2">
                <form action="" method="post">
                    <label><input type="text" name="subject_name" placeholder="Предмет" required></label>
                    <input type="submit" value="Добавить">
                </form>
            </td>
        </tr>
    </table>
</div>


<footer>
    <span><a href="/main">© Schedule maker</a></span>
    <span><a href="./about_authors.html">Контакты</a></span>
    <span><a href="./about_site.html">О сайте</a></span>
</footer>
</body>
</html>