<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule makers: Authors</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="../templates/main.html">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <button class="tablinks" id="Classes_button" onclick="openTab(event, 'Classes')">Классы</button>
            <button class="tablinks" id="Lessons_button" onclick="openTab(event, 'Lessons')">Уроки</button>
            <button class="tablinks" id="Teachers_button" onclick="openTab(event, 'Teachers')">Учителя</button>
            <button class="tablinks" id="Subjects_button" onclick="openTab(event, 'Subjects')">Предметы</button>
            <button class="tablinks" id="Register_button" onclick="document.location='./registration.html'">Регистрация</button>
            <button class="tablinks" id="Login_button" onclick="document.location='./login.html'">Логин</button>
        </div>
    </nav>
</header>

<div class="authors">
    <div class="person">
        <img src="https://placehold.it/400" alt="Фото автора">
        <h3>Автор</h3>
        <h3>Студент группы 10701122</h3>
        <h3>Ханяк Евгений Дмитриевич</h3>
        <h3>yauhenbelarus@gmail.com</h3>
    </div>
    <div class="person">
        <img src="https://placehold.it/400" alt="Фото автора">
        <h3>Автор</h3>
        <h3>Студент группы 10701122</h3>
        <h3>Давыдовский Иван Юрьевич</h3>
        <h3>davydovskiyivan@gmail.com</h3>
    </div>
</div>


<footer>
    <span><a href="./main.html">© Schedule maker</a></span>
    <span><a href="./about_authors.html">Контакты</a></span>
    <span><a href="./about_site.html">О сайте</a></span>
</footer>
</body>
<script src="../static/js/index.js"></script>
</html>