:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #ffffff;
    --purple: #5C62EC;
    --light-purple: #5c61ecc4;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    --light-accent: var(--light-purple);

    /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px  rgba(0, 0, 0, 0.8);
}


* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    box-sizing: border-box;
    word-wrap: break-word;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, Ubuntu, sans-serif; */
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2px;
}

html, body {
    /* Color mode */
    background-color: var(--page-bg);
    color: var(--text-color);

    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--text-color);
    text-decoration: unset;
}

#header {
    font-family: "Raleway", Helvetica, sans-serif;
    background-color: var(--black);
    color: var(--text-color);
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    margin: 0;
    font-size: 24px;
}

#header h1 a {
    color: var(--text-color);
    text-decoration: none;
}

#header .tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#header .tabs ul li {
    margin-right: 10px;
    border-right: 1px solid var(--accent);
    padding-right: 10px;
}

#header .tabs ul li:last-child {
    margin-right: 0;
    border-right: none;
}

#header .tabs ul li a {
    background-color: var(--black);
    text-decoration: none;
}

.tab {
    overflow: hidden;
    background-color: var(--black);
    display: flex;               
    justify-content: center;        
    align-items: center;          
    flex-wrap: wrap;               
}

/* Style the buttons that are used to open the tab content */
.tab button {

    background-color: inherit;
    color: var(--text-color);
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--page-bg);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #484848;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.authors {
    display: flex;
    justify-content: space-evenly;

    height: 70%;
}

.person {
    width: 30%;
    text-align: center;
}

.person img {
    padding-top: 50px;

    position: relative;

    width: 400px;
    height: 450px;
}

.person h3 {
    padding-top: 1%;
}

footer {
    margin-top: auto;
    padding-top: 20px;
    background-color: var(--black);
    height: 5%;

    display: flex;
    justify-content: center;
}

footer a {
    color: var(--text-color);
    font-weight: 600;
    margin: 0 10px;
}

footer span {
    font-size: 14px;
    text-align: center;
}

.about {
    margin-top: 5%;

    display: flex;
    justify-content: space-evenly;
    height: 50%;
}

.about img {
    width: 100%;
}

.about div {
    width: 40%;

    font-size: 20px;
}

.about .p {
    margin-top: 5%;
}

.error404 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    font-size: 40px;
}

.table {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: 83vh;
    overflow: auto;
    padding: 40px 150px 20px;
}

table {

    border-collapse: collapse;
    height: 20%;

    font-size: 25px;
}

tr {
    border-bottom: 1px solid var(--text-color);
    height: 70px;
}

th {
    text-align: left;
    padding-bottom: 20px;

}

.buttons {
    margin-left: 20px;
    height: 50px;

}



.buttons button {
    min-width: 150px;
    min-height: 35px;

    font-size: 15px;
    
    border-radius: 5px;
    border-width: 0;
    background-color: var(--accent);
}

.buttons button:hover {
    transition: background-color 0.3s ease-in;
    background-color: var(--light-accent);
}

.add_new {
    border-bottom: 0;
}

.add_new input[type="text"] {
    min-width: 200px;
    min-height: 30px;

    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 0;
}

.add_new input[type="submit"] {
    min-width: 200px;
    min-height: 30px;

    font-size: 15px;

    border-radius: 5px;
    border-width: 0;
    background-color: #d7d7d7;
}

.add_new input[type="submit"]:hover {
    transition: background-color 0.3s ease-in;
    background-color: #838383;
}

/* Убираем стрелки */
::-webkit-scrollbar-button {
    display: none;
}

/* Закругляем углы и задаем цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--black);
}

/* Задаем цвет трека полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: var(--page-bg);
}

/* Задаем ширину полосы прокрутки */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #333;
}

.curriculum_table {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: 83vh;

    overflow: auto;
}

.curriculum_table table {
    width: 90%;
}

select {

    background-color: var(--white);  
    color: var(--black);  
    min-width: 200px;
    min-height: 30px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 0;
}

select option {
    background-color: var(--white);  
    color: var(--black);            
}

button {
    cursor: pointer;
}
td input {
    font-size: 25px;

    border: 0;
    color:#252526;
    background-color: var(--text-color);
}

td select {
    font-size: 15px;

    border: 0;
    color:#252526;
    background-color: var(--text-color);
}

td, th {
    padding-left: 10px;
}

.title {
    padding-top: 50px;
    text-align: center;

    font-size: 40px;
}

ul {
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 25px;

    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
}

.order input[type="submit"] {
    font-size: 25px;

    border-radius: 5px;
    border-width: 0;
    background-color: #d7d7d7;
}

.order input[type="submit"]:hover {
    cursor: pointer;

    transition: background-color 0.3s ease-in;
    background-color: #838383;
}

.order label, input[type="submit"] {
    margin-top: 10px;
}

input[type="checkbox"] {
    accent-color: #333333;
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}

#langToggle.--white {
    background-color: var(--accent);
    color: var(--text-color);
    border-radius: 5px;
    border-width: 0;
    transition: background-color 0.3s ease-in;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap; /* Чтобы текст в кнопке не переносился */
    margin-left: 10px; /* Добавляем отступ */
}

#langToggle.--white:hover {
    background-color: var(--light-accent);
}

