:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #ffffff;
    --purple: #5C62EC;
    --light-purple: #5c61ecc4;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    --light-accent: var(--light-purple);

    /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px  rgba(0, 0, 0, 0.8);
}


* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    box-sizing: border-box;
    word-wrap: break-word;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, Ubuntu, sans-serif; */
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2px;
}
html, body {
    /* Color mode */
    background-color: var(--page-bg);
    color: var(--text-color);

    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    letter-spacing: -1px;
}
a {
    color: #c5c3c3;
    text-decoration: unset;
}
.login-root {
    background-color: var(--black);
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.flex-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.center-center {
    align-items: center;
    justify-content: center;
}
.box-root {
    box-sizing: border-box;
}
.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
    background-color: #5469d4;
}
.box-background--white {
    background-color: #ffffff;
}
.box-background--blue800 {
    background-color: #212d63;
}
.box-background--gray100 {
    background-color: #e3e8ee;
}
.box-background--cyan200 {
    background-color: #7fd3ed;
}
.padding-top--64 {
    padding-top: 64px;
}
.padding-top--24 {
    padding-top: 24px;
}
.padding-top--48 {
    padding-top: 48px;
}
.padding-bottom--24 {
    padding-bottom: 24px;
}
.padding-horizontal--48 {
    padding: 48px;
}
.padding-bottom--15 {
    padding-bottom: 15px;
}


.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.formbg {
    margin: 0 auto;
    width: 100%;
    max-width: 448px;
    background: var(--page-bg);
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);
}
label {
    margin-bottom: 10px;
}
.reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}
.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    color: var(--black);
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: var(--accent);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(60, 66, 87, 0.16) 0 0 0 1px,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0,
    rgba(0, 0, 0, 0) 0 0 0 0;
}

input[type="checkbox"] {
    accent-color: rgb(49, 49, 49);
}

input[type="submit"] {
    background-color: var(--accent);
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--light-accent);
}

.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}
.footer-link span {
    font-size: 14px;
    text-align: center;
}
.listing a {
    color: #c5c3c3;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}
.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}
.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}
.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

#alert {
    display: none;
    color: red;
    margin-top: 10px;
}


.field.--en {
    display: flex; /* Используем flexbox для удобного выравнивания */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    gap: 10px; /* Пространство между элементами */
}

#langToggle {
    background-color: var(--accent);
    color: var(--text-color);
    border-radius: 5px;
    border-width: 0;
    transition: background-color 0.3s ease-in;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap; /* Чтобы текст в кнопке не переносился */
}

#langToggle:hover {
    background-color: var(--light-accent);
}



a.ssolink {
    font-weight: 600;
    display: block;
}
