:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #ffffff;
    --purple: #5C62EC;
    --light-purple: #5c61ecc4;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
    --light-accent: var(--light-purple);

    /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px  rgba(0, 0, 0, 0.8);
}


* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    box-sizing: border-box;
    word-wrap: break-word;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, Ubuntu, sans-serif; */
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2px;
}
html, body {
    /* Color mode */
    background-color: var(--black);
    color: var(--text-color);

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--black);
}


.container {
    min-width: 40%;
    min-height: 70%;
    background-color: var(--page-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.university {
    margin-top: 3%;
    margin-bottom: 3%;
}

h2 {
    margin-top: 9%;
    margin-bottom: 7px;
}

h1 {
    margin-top: 18px;
}

h4 {
    margin-top: 7px;
}

.img {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 15%;
    width: 35%;
    height: 100%;
    text-align: center;
}

.who {
    display: inline-block;
    position: relative;
    left: 20%;
    height: auto; /* убираем жесткое ограничение по высоте */
    max-width: 100%; /* ограничиваем ширину */
    word-wrap: break-word; /* обтекание длинных слов */
}


.who h4 {
    text-align: left;
}

.person {
    margin-top: 3%;
}

.teacher {
    margin-top: 20%;
}

img {
    width: 200px;
    height: 200px;
}

.under {
    margin-top: 7%;
    vertical-align: top;
    height: 35%;
    margin-right: 70px;
}

.actions {
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;

    position: relative;
    left: 15%;
    height: 7%;
    width: 70%;
}

.actions button {
    width: 25%;

    background-color: var(--accent);
    color: var(--text-color);

    border-radius: 5px;
    border-width: 0;

    transition: background-color 0.3s ease-in;
}

.actions button:hover {
    cursor: pointer;

    background-color: var(--light-accent);
    color: #333333;
}

#langToggle {
    background-color: var(--black);
    color: var(--text-color);
    max-width: 60px;
    border-radius: 5px;
    border-width: 0;
    transition: background-color 0.3s ease-in;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap; /* Чтобы текст в кнопке не переносился */
}

#langToggle:hover {
    background-color: #333333;
}

