<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule makers: Authors</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="shortcut icon" href="../images/Logo_BNTU.png"/>
</head>
<body>
<header id="header">
    <h1><a href="../index.html">Schedule maker</a></h1>
    <nav class="tabs">
        <div class="tab">
            <button class="tablinks" id="Classes_button" onclick="openTab(event, 'Classes')">Классы</button>
            <button class="tablinks" id="Lessons_button" onclick="openTab(event, 'Lessons')">Уроки</button>
            <button class="tablinks" id="Teachers_button" onclick="openTab(event, 'Teachers')">Учителя</button>
            <button class="tablinks" id="Subjects_button" onclick="openTab(event, 'Subjects')">Предметы</button>
            <button class="tablinks" id="Register_button" onclick="document.location='./registration.html'">Регистрация</button>
            <button class="tablinks" id="Login_button" onclick="document.location='./login.html'">Логин</button>
        </div>
    </nav>
</header>

<div class="about">

</div>

<footer>
    <span><a href="../index.html">© Schedule maker</a></span>
    <span><a href="./about_authors.html">Контакты</a></span>
    <span><a href="#">О сайте</a></span>
</footer>
</body>
<script src="../assets/js/index.js"></script>
</html>