<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Schedule maker: Sign up</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/register.css">
</head>

<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="../index.html" rel="dofollow">Schedule maker</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Sign up to your account</span>
                        <form id="stripe-login">
                            <div class="field padding-bottom--24">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">Password</label>
                                </div>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password_confirm">Password confirmation</label>
                                </div>
                                <input type="password" name="password" id="password_confirm">
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Continue">
                            </div>
                            <div class="field">
                                <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
                    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                        <span><a href="#">© Schedule maker</a></span>
                        <span><a href="#">Contact</a></span>
                        <span><a href="#">Privacy & terms</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>