<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule maker</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <header id="header">
        <h1><a href="index.html">Schedule maker</a></h1>
        <nav class="tabs">
            <ul>
                <li><a href="#">Классы</a></li>
                <li><a href="#">Уроки</a></li>
                <li><a href="#">Учителя</a></li>
                <li><a href="#">Предметы</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>